@media (max-width: 768px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;

    /* overflow: hidden; */
  }

  .header {
    padding-bottom: 152px;

    /* position: relative; */

    /* overflow: hidden; */
  }

  .header-menu {
    width: 155px;
    justify-content: space-between;
    
  }

  .header-menu .menu {

    margin: 0;
    padding: 0;
    padding-top: 134px;
    padding-left: 127px;
    width: 620px;
    height: 100vh;

    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    

    /* visibility: visible; */

    display: block;

    background-color: var(--color-bg-dark);

    transition: all 2s;
    
  }

  .header-menu .menu.menu-hidden {
    
    /* visibility: hidden; */
    /* z-index: -1; */
    display: none;
    right: -620px;
  }

  .header-menu .menu .menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: var(--color-white);

    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 73px;
  }

 

  .lang-slash {
    margin: 0 9px;
  }

  .menu-humburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    position: absolute;
    top: 20px;
    right: 54px;
    z-index: 2;
  }

  .menu-humburger.menu-hum__visited .menu-hum__line {
    position: absolute;
    top: 50%;
  }

  .menu-humburger.menu-hum__visited {
    display: block;
  }

  .menu-hum__visited .menu-hum__line-1 {
    transform: translateY(-50%) rotate(45deg);
  }

  .menu-hum__visited .menu-hum__line-2 {
    display: none;
  }

  .menu-hum__visited .menu-hum__line-3 {
    transform: translateY(-50%) rotate(-45deg);
  }

  .header-text {
    /* max-width: 500px; */
    /* height: 330px; */
    margin-top: 78px;
    margin-left: 0;
  }

  .header-text__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }

  .header-text__sub {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-top: 20px;
    max-width: 390px;
  }

  .header-text__btn {
    margin-top: 60px;
  }

  .skills-list {
    row-gap: 36px;
  }

  .skill-item {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .skill-item__title {
    margin-top: 30px;
  }

  .skill-item__text {
    line-height: 22px;
  }

  .black-section {
    padding-top: 80px;
  }

  .section-title {
    margin-bottom: 50px;
    max-width: 368px;
  }

  .portfolio-btns__item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

  .video .container {
    width: 100%;
    padding: 0;
  }

  .video-player {
    margin-top: 0;
    height: auto;
  }

  .price {
    padding-bottom: 80px;
  }

  .contacts {
    padding-bottom: 111px;
    height: auto;
  }

  .contacts .container {
    /* height: auto; */
    padding: 0;
  }

  .contacts-form {
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background: transparent;
  }

  .contacts-form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    
  }

  .contacts-form__email,
  .contacts-form__tel,
  .contacts-form__message {
    background-color: inherit;
    border: 2px solid var(--color-gold);
  }

  .footer {
    height: auto;
  }

  .footer .container {
    padding-top: 28px;
    padding-bottom: 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
