@media (max-width: 768px) {

  .container {
    padding-left: 60px;
    padding-right: 60px;

    overflow: hidden;
  }

  .header {
    padding-bottom: 152px;
  }

  .header-menu {
    width: 155px;
    justify-content: space-between;    
  }

  .header-menu .menu {
    margin: 0;
    padding: 0;
    padding-top: 134px;
    padding-left: 127px;
    width: 620px;
    height: 100vh;

    z-index: 10;

    /* visibility: visible; */

    position: absolute;
    top: 0;
    right: 0;
    
    background-color: var(--color-bg-dark);
    
    transition: all 1s;
  }

  .header-menu .menu .menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: var(--color-white);

    font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 73px;
  }

  .header-menu .menu.menu-hidden {
    right: -620px;
    /* display: none; */
    /* visibility: hidden; */
  }

  

  .lang-slash {
    margin: 0 9px;
  }

  .menu-humburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  } 

  .menu-humburger.menu-hum__visited .menu-hum__line {
    position: absolute;
    top: 50%;
  }

  .menu-humburger.menu-hum__visited {
    display: block;
  }

  .menu-hum__visited .menu-hum__line-1 {
    transform: translateY(-50%) rotate(45deg);
  }

  .menu-hum__visited .menu-hum__line-2 {
    display: none;
  }

  .menu-hum__visited .menu-hum__line-3 {
    transform: translateY(-50%) rotate(-45deg);
  }

  .header-text {
    /* max-width: 500px; */
    /* height: 330px; */
    margin-top: 78px;
    margin-left: 0;
  }

  .header-text__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }

  .header-text__sub {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-top: 20px;
    max-width: 390px;
  }

  .header-text__btn {
    margin-top: 60px;
  }
}
